<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }} app is running!</span>
    <hr>
    <h1>Static Post</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
      <tr>
        <td>{{staticPost.id}}</td>
        <td>{{staticPost.userId}}</td>
        <td>{{staticPost.title}}</td>
        <td>{{staticPost.body}}</td>
      </tr>
      <hr>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.userId}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
    </table>

  </div>

  <router-outlet></router-outlet>